@{Layout = null;}
<html>
    <head>
        <title> Competition Blasts Home</title>
        <link href="~/Content/Style.css" rel="stylesheet" />
    </head>
    <body class="bodyImage">
        <div class="divImage">
            <br>
            <img src="~/Images/cc.png" class="imageLogo">
            <a href="~/Home/Login"><img src="~/Images/btn1.png" class="imageButton" /></a>
            <a href="~/Home/SignUp"><img src="~/Images/btn2.png" class="imageButton" /></a>
        </div>
    </body>
</html>